<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--数据库连接字符串-->
  <connectionStrings>
    <add  name="mssqlserver" connectionString="Data Source=192.168.1.171;Initial Catalog=PhoneNumManager;User ID=sa;Password=1234567"/>
  </connectionStrings>
</configuration>